# Chave de Acesso do Web3Forms para o formulário de contato
VITE_WEB3FORMS_KEY=860ca439-0072-48c1-a81e-f7a57b807050

# Ou se preferir usar Formspree:
# VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/seu-id

